{% extends 'base.html' %}

{% block title %}
    没事偷着乐
{% endblock %}

{% block custom_style %}
    <style>
        .joke {
            margin-bottom: 15px;
            background: #fff;
            padding: 18px 20px;
        }

        ul.operations {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-top:5px;
            float: right
        }

        ul.operations li {
            display: inline-block;
            float: left;
            line-height: 12px
        }

        ul.operations li a {
            display: inline-block;
            *zoom: 1;
            *display: inline;
            padding: 0 12px;
            color: #999;
            line-height: 35px;
            height: 35px;
            vertical-align: top
        }

        ul.operations li a.support em {
            position: relative;
            top: -1px;
            font-size: 18px;
            color: #ba2636;
            font-style: normal;
            margin-left: 2px
        }

        ul.operations li a.visited {
            color: #999;
            cursor: text
        }

        ul.operations li a.visited:hover {
            text-decoration: none
        }

        ul.operations li.first {
            position: relative;
            *zoom: 1
        }

        ul.btn-operations li a {
            border-top: 1px solid #e2e2e2;
            border-bottom: 1px solid #e2e2e2;
            border-left: 1px solid #eee
        }

        ul.btn-operations li a.first {
            border-left: 1px solid #e2e2e2;
            -webkit-border-top-left-radius: 3px;
            -moz-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
            -webkit-border-bottom-left-radius: 3px;
            -moz-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px
        }

        ul.btn-operations li a.last {
            border-right: 1px solid #e2e2e2;
            -webkit-border-top-right-radius: 3px;
            -moz-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
            -webkit-border-bottom-right-radius: 3px;
            -moz-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px
        }

        ul.operations li a.selected {
            border-color: #ba2636
        }
    </style>
{% endblock %}

{% block body %}
    <div id="body" class="container">
        <div id="main" class="row">
            <div id="left" class="col-md-3"></div>
            <div id="content" class="col-md-6">
                <article class="clearfix joke">
                    <h1 style="display: none">{{ joke.title }}</h1>
                    <p style="font-size: 16px;">{{ joke.content | safe }}</p>
                    {% for image in joke.images.split(',') %}
                        {% if image %}
                            <img src="{{ image | safe }}" width="430px"  class="img-responsive center-block"/>
                        {% endif %}
                    {% endfor %}
                    <ul class="operations btn-operations pull-right">
                        <li class="first">
                            <a class="btn support first like {{  'selected' if joke['current_user_like']}}"
                               jokeid={{ joke.id }}>顶<em class="value">{{ joke['like_number'] }}</em></a>
                        </li>
                        <li><a class="reply" style="display:none" href="#">回复</a></li>
                        <li style="">
                            <a class="share last" href="/article/joke/{{ joke.id }}">...</a>
                        </li>
                    </ul>
                </article>
            </div>
            <div id="right" class="col-md-3"></div>
        </div>
    </div>

{% endblock %}

{% block custom_script %}
    <script type="application/javascript" src="{{ static('js/likeTools.js') }}">
    </script>
{% endblock %}
